<template name="admin_messageOfTheDay">
    {{> motdsPreviewModal}}
    {{> motdAddAndEdit}}
    {{> confirmDeleteMessage}}
    <div class="content-header">
        <h1>
            {{_ "admin.messageOfTheDay"}}
        </h1>
    </div>
    <button id="createMessage" class="btn btn-raised btn-success">
        {{_ "admin.motd.create"}}
    </button>
    <div class="content reactive-table">
        <table class="table table-striped">
            <tr>
                <th>{{_ "admin.motd.title"}}</th>
                <th>{{_ "admin.motd.location"}}</th>
                <th>{{_ "admin.motd.created"}}</th>
                <th>{{_ "admin.motd.published"}}</th>
                <th>{{_ "admin.motd.expiration"}}</th>
            </tr>
            <tbody>

            {{#each getMessages}}
                <tr id="{{this._id}}">
                    <td>{{this.subject}}</td>
                    <td>{{getLocation this.locationType}}</td>
                    <td>{{this.dateCreated}}</td>
                    <td>{{this.publishDate}}</td>
                    <td>{{this.expirationDate}}</td>
                    <td><span id="editMessage"><i class="fas fa-edit"></i></span>
                        <span id="deleteMessage" class="pull-right"><i class='fas fa-ban'></i></span>
                    </td>
                </tr>
            {{/each}}

            </tbody>
        </table>
    </div>
</template>

<template name="motdsPreviewModal">
    <div class="modal fade" id="motdsPreviewModal" tabindex="100" role="dialog"
         aria-labelledby="messageOfTheDayTitle">
        <div class="modal-dialog modal-lg" id="dialog">
            <div class="modal-content">

                <div class="modal-header">
                        <span class="modal-icon">
                            <i class="fas fa-bell"> {{_ "admin.motd.previewTitle"}}</i>
                        </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>

                <div class="modal-body" id="modalContent">
                    <table class="table">
                        <tbody>
                        <h4>{{#markdeep}}{{getSubject}}{{/markdeep}}</h4>
                        <p>{{#markdeep}}{{getContent}}{{/markdeep}}</p>
                        <button type="button" id="acceptButton" class="button btn-success btn btn-raised">{{_
                                "admin.motd.previewAccept"}}</button>
                        </tbody>
                    </table>
                </div>
                <div id="modalFooter"></div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>

<template name="motdAddAndEdit">

    <div class="modal fade" id="motdAddAndEdit" tabindex="100" role="dialog"
         aria-labelledby="messageOfTheDayTitle">
        <div class="modal-dialog modal-lg" id="dialog">

            <div class="modal-content ">

                <div class="modal-header">
                    <span class="modal-icon">
                            <i class="fas fa-envelope-square"> {{_ "admin.motd.editTitle"}}</i>
                        </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>

                <div id="subject" class="col-lg-6 cardtext editorElement">
                    <form class="form-group subjectEditor">
                        <input value="{{getTitle}}" required class="form-control" id="subjectEditor" name="content"
                               placeholder="*{{_ "admin.motd.editInputTitle"}}"
                               tabindex="1"></form>
                    <br>
                </div>

                <div class="cardEditorHeader col-xs-12">
                    <h5 class="editorHeader"></h5>
                    <div id="markdeepEditorContent">
                        <form>
                    <textarea value="{{getContent}}" required id="contentEditor" class="card" name="content"
                              placeholder="*{{_ "admin.motd.editInputText"}}"
                              data-provide="markdown" rows="10" tabindex="4"></textarea>
                        </form>
                    </div>
                </div>
                <br>
                {{setupDateAndActiveClass}}
                <div class="paddingGroup">
                    <label>{{_ "admin.motd.editPublish"}}</label>
                    <input type="date" class="form-group subjectEditor" id="publishDate"
                           placeholder="Von" value="{{getPublishDate}}">
                    <br>
                    <label>*{{_ "admin.motd.editExpiration"}}</label>
                    <input type="date" class="form-group subjectEditor" required id="expirationDate"
                           placeholder="Bis" value="{{getExpirationDate}}">
                    <br>
                    <label>{{_ "admin.motd.editLocation"}}</label>
                    <button value="0" id="toggleLoggedIn" class="locationButton button btn btn-raised">{{_
                            "admin.motd.editLoggedIn"}}</button>
                    <button value="1" id="toggleLoggedOut" class="locationButton button btn btn-raised">{{_
                            "admin.motd.editLoggedOut"}}</button>
                    <button value="2" id="toggleBothLocations" class="locationButton button btn btn-raised">{{_
                            "admin.motd.editBothLocations"}}</button>
                </div>
                <div id="buttonGroup" class="paddingGroup">
                    <p>{{_ "admin.motd.mandatory"}}</p>
                    <button id="publishMessage" type="button" class="btn btn-raised btn-success">
                        <span>{{_ "admin.motd.editSave"}}</span>
                    </button>
                    <label id="errorText">{{_ "admin.motd.errorText"}}</label>
                    <button id="previewButton" type="button" class="btn btn-raised btn-success">
                        <span>{{_ "admin.motd.editPreview"}}</span>
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>

<template name="confirmDeleteMessage">
    <div class="modal fade" id="confirmDeleteMessage" tabindex="-1" role="dialog"
         aria-labelledby="confirmDeleteMessage">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-icon">
                        <i class="fas fa-bell"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="confirmDeleteMessageTitle" class="modal-title">{{_ "admin.motd.confirmDeleteTitle"}}
                    </h4>
                </div>
                <div class="modal-body">
                    {{_ "admin.motd.confirmDeleteBody"}}
                    <table class="table table-striped">
                        <tbody>

                            <tr>
                                <td>Titel: </td>
                                <td>{{getSubject}}</td>
                            </tr>
                            <tr>
                                <td>Wo?</td>
                                <td>{{getLocation}}</td>
                            </tr>
                            <tr>
                                <td>Erstellt: </td>
                                <td>{{getDateCreated}}</td>
                            </tr>
                            <tr>
                                <td>Veröffentlicht: </td>
                                <td>{{getPublishDate}}</td>
                            </tr>
                            <tr>
                                <td>Bis: </td>
                                <td>{{getExpirationDate}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="confirmDeleteConfirm" class="btn btn-raised btn-danger pull-right">{{_
                            "admin.motd.confirmDeleteConfirm"}}</button>
                    <button id="confirmDeleteDismiss" class="btn btn-raised btn-default pull-left"
                            data-dismiss="modal">{{_
                            "admin.motd.confirmDeleteDismiss"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
