<template name="admin_main">
    {{#if gotBackendAccess}}
        <nav id="backendNavigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#thm-top-navigation" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="thm-top-navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{pathFor route='home'}}">{{_ "navbar-collapse.frontend"}}</a></li>
                            <li id="notificationsBtn_admin" class="dropdown">
                                <a role="button" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fas fa-bell"></i> {{#if countNotifications}}
                                    <span class="badge">{{countNotifications}}</span>{{/if}}
                                </a>

                                <ul class="dropdown-menu notifications" role="menu"
                                    aria-labelledby="dLabel">
                                    <div class="notification-heading">
                                        <h4 class="menu-title">{{_ "notifications.title"}}</h4>
                                        {{#if getNotifications.count}}
                                            <button id="clearBtn_admin" type="button"
                                                    class="btn btn-default pull-right">{{_
                                                    "notifications.clearAll"}}</button>
                                        {{/if}}
                                    </div>
                                    <li class="divider"></li>
                                    {{#if getNotifications.count}}
                                        <div class="notifications-wrapper">
                                            {{#each getNotifications}}
                                                <a href="{{getLink _id}}" class="content">
                                                    <div class="notification-item">
                                                        <h4 class="item-title">{{getType type}}</h4>
                                                        <p class="item-info">{{text}}</p>
                                                    </div>
                                                </a>
                                            {{/each}}
                                        </div>
                                    {{else}}
                                        <div class="notification-heading">
                                            <h4 class="menu-title">{{_ "notifications.noNotification"}}</h4>
                                        </div>
                                    {{/if}}
                                    <li class="divider"></li>
                                    <div class="notification-footer">
                                        <a href="{{pathFor route='admin_notifications'}}" type="button"
                                           class="btn btn-info"
                                           data-toggle="collapse" data-target="#thm-top-navigation">
                                            {{_ "notifications.viewAll"}} <i
                                                class="fas fa-arrow-alt-circle-right"></i>
                                        </a>
                                    </div>
                                </ul>
                            </li>
                            {{#if currentUser}}
                                <li><a href="{{pathFor 'admin_user' _id=currentUser._id}}"
                                       id="usr-profile-admin" data-toggle="collapse"
                                       data-target="#thm-top-navigation">
                                    {{getUsername}}</a></li>
                            {{/if}}
                            <li><a href="#" id="logout_admin"><i
                                    class="fas fa-sign-out-alt" style="font-size:150%; color:orange"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div id="wrapper">
            <!-- Sidebar -->
            <div id="admin-sidebar-wrapper">

                <ul class="sidebar-nav">
                    <li>
                        <a class="{{#if isActiveRoute regex='admin_dashboard'}}active{{/if}}"
                           href="{{pathFor route='admin_dashboard'}}">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>{{_ "admin.dashboard"}}</span>
                        </a>
                    </li>
                    <li>
                        <a class="{{#if isActiveRoute regex='admin_users|admin_user'}}active{{/if}}"
                           href="{{pathFor route='admin_users'}}">
                            <i class="fas fa-users"></i>
                            <span>{{_ "admin.users"}}</span>
                        </a>
                    </li>
                    <li>
                        <a class="{{#if isActiveRoute regex='admin_learningStatistics'}}active{{/if}}"
                           href="{{pathFor route='admin_learningStatistics'}}">
                            <i class="far fa-chart-bar"></i>
                            <span>{{_ "admin.learningStatistics"}}</span>
                        </a>
                    </li>
                    {{#if enabledMatomo}}
                        <li>
                            <a class="{{#if isActiveRoute regex='admin_matomoStatistics'}}active{{/if}}"
                               href="{{pathFor route='admin_matomoStatistics'}}">
                                <i class="far fa-chart-bar"></i>
                                <span>{{_ "admin.matomoStatistics"}}</span>
                            </a>
                        </li>
                    {{/if}}
                    <li>
                        <a class="{{#if isActiveRoute regex='admin_apiAccess'}}active{{/if}}"
                           href="{{pathFor route='admin_apiAccess'}}">
                            <i class="fas fa-key"></i>
                            <span>{{_ "admin.api.access"}}</span>
                        </a>
                    </li>
                    <li>
                        <a class="{{#if isActiveRoute regex='admin_notifications'}}active{{/if}}"
                           href="{{pathFor route='admin_notifications'}}">
                            <i class="fas fa-bell"></i>
                            <span>{{_ "admin.notifications"}}</span>
                        </a>
                    </li>
                    <li>
                        <a class="{{#if isActiveRoute regex='admin_messageOfTheDay'}}active{{/if}}"
                           href="{{pathFor route='admin_messageOfTheDay'}}">
                            <i class="fas fa-envelope-square"></i>
                            <span>{{_ "admin.messageOfTheDay"}}</span>
                        </a>
                    </li>
                    <li>
                        <a class="{{#if isActiveRoute regex='admin_settings'}}active{{/if}}"
                           href="{{pathFor route='admin_settings'}}">
                            <i class="fas fa-cog"></i>
                            <span>{{_ "admin.settings"}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->

            <div id='admin-content-wrapper'>
                {{> yield}}
            </div>
        </div>
    {{else}}
        <div class="container">
            {{> accessDenied}}
        </div>
    {{/if}}
</template>
