#bonusUserHistoryModal {
  .user-history-title {
    h4 {
      font-weight: bold;
    }
    padding: 2px 10px;
  }
  .table-user-history {
    margin-bottom: 0;
  }
  @media (min-width: 768px) {
    .table-user-history-global-stats {
      table-layout: fixed;
    }
  }
}
