<!--##################################################################-->
<!--profileFullscreen-->
<!--##################################################################-->
<template name="profileFullscreen">
    <div id="profile-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{_ "fullscreen.settings.title"}}</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    {{#markdeep}}
                        {{#if isActiveLanguage 'de'}}
                            {{> profileFullscreenContentDE}}
                        {{else}}
                            {{> profileFullscreenContentEN}}
                        {{/if}}
                    {{/markdeep}}
                    <div class="form-group col-xs-12 profile-fullscreen-settings">
                        <form>
                            <table class="table table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th scope="col">{{_ "fullscreen.settings.table.mode1"}}</th>
                                    <th scope="col">{{_ "fullscreen.settings.table.mode2"}}</th>
                                    <th scope="col">{{_ "fullscreen.settings.table.mode3"}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#if gotFullscreenSettingsAccess 1}}
                                    <tr>
                                        <th scope="row">{{_ "fullscreen.settings.table.presentation"}}</th>
                                        <td>
                                            {{> profileViewItemFullscreenCheckbox mode=1 group=1}}
                                        </td>
                                        <td>
                                            {{> profileViewItemFullscreenCheckbox mode=2 group=1}}
                                        </td>
                                        <td>
                                            {{> profileViewItemFullscreenCheckbox mode=3 group=1}}
                                        </td>
                                    </tr>
                                {{/if}}
                                {{#if gotFullscreenSettingsAccess 2}}
                                    <tr>
                                        <th scope="row">{{_ "fullscreen.settings.table.demo"}}</th>
                                        <td>
                                            {{> profileViewItemFullscreenCheckbox mode=1 group=2}}
                                        </td>
                                        <td>
                                            {{> profileViewItemFullscreenCheckbox mode=2 group=2}}
                                        </td>
                                        <td>
                                            {{> profileViewItemFullscreenCheckbox mode=3 group=2}}
                                        </td>
                                    </tr>
                                {{/if}}
                                {{#if gotFullscreenSettingsAccess 3}}
                                    <tr>
                                        <th scope="row">{{_ "fullscreen.settings.table.leitner"}}</th>
                                        <td>
                                            {{> profileViewItemFullscreenCheckbox mode=1 group=3}}
                                        </td>
                                        <td>
                                            {{> profileViewItemFullscreenCheckbox mode=2 group=3}}
                                        </td>
                                        <td>
                                            {{> profileViewItemFullscreenCheckbox mode=3 group=3}}
                                        </td>
                                    </tr>
                                {{/if}}
                                {{#if gotFullscreenSettingsAccess 4}}
                                    <tr>
                                        <th scope="row">{{_ "fullscreen.settings.table.wozniak"}}</th>
                                        <td>
                                            {{> profileViewItemFullscreenCheckbox mode=1 group=4}}
                                        </td>
                                        <td>
                                            {{> profileViewItemFullscreenCheckbox mode=2 group=4}}
                                        </td>
                                        <td>
                                            {{> profileViewItemFullscreenCheckbox mode=3 group=4}}
                                        </td>
                                    </tr>
                                {{/if}}
                                </tbody>
                            </table>
                        </form>
                    </div>
                    {{#if canDisplayButtons}}
                        <button id="fullscreenCancel" type="button"
                                class="btn btn-default btn-raised"
                                data-id="disabled">{{_
                                "fullscreen.settings.buttons.cancel"}}</button>
                        <button id="fullscreenSave" type="button"
                                class="btn btn-success btn-raised pull-right"
                            {{disableIfOffline}}>
                            <i class="far fa-save"></i> {{_ "fullscreen.settings.buttons.save"}}
                        </button>
                    {{/if}}
                </form>
            </div>
        </div>
    </div>
</template>
