<template name="mainNavigationFooterItemFAQ">
    <li class="{{#if isActiveRoute 'faq'}}active{{/if}}">
        <a id="faq" href="{{pathFor route='faq'}}">
            {{{getNavigationName "faq"}}}
        </a>
    </li>
</template>
